img{
    width: 40%;
    height: 50%;
}
.tour{
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    margin: 1%;
    width: 30%;
    display: inline-block;
    }
    h3{
        text-align: center;
    }